@font-face {
	src: url(SourceSerif4-Regular.otf.woff2);
	font-family: Source Serif Pro;
	font-weight: normal;
	font-display: swap;
}
@font-face {
	src: url(SourceSerif4-Semibold.otf.woff2);
	font-family: Source Serif Pro;
	font-weight: bold;
	font-display: swap;
}
body {
	background-color: #FFF;
	color: #666;
	font-family: Source Serif Pro, serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	width: calc(100vw - 2rem);
	min-height: calc(100vh - 2rem);
	font-size: 3rem;
}
h1 {
	color: #222;
	font-size: min(11vw, 200%);
	letter-spacing: -0.0125em;
	line-height: 1.1;
	margin: 0 0 0.25em 0;
}
p {
	margin: 0px;
	width: 100%;
	max-width: 16em;	
	margin-block-start: 0.25em;
	margin-block-end: 0.25em;
	line-height: 1.1;
	letter-spacing: 0.0125em;
	font-size: min(5.5vw, 80%);
}
